

 @model NNShop.ViewModels.PaginatedHangHoaVM
@{
    ViewData["Title"] = "Index";
    Layout = "_DanhSachHangHoa";
}

<!-- Single Page Header start -->
@section Breadcum {
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Hàng Hóa</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang Chủ</a></li>
            <li class="breadcrumb-item active text-white">Hàng Hóa</li>
        </ol>
    </div>
}
<!-- Single Page Header End -->
<!-- Product List -->
@await Html.PartialAsync("ProductItem", Model.HangHoas)

<!-- Pagination -->
<div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">
        <!-- Previous Button -->
        @if (Model.CurrentPage > 1)
        {
            <a asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" class="rounded">&laquo;</a>
        }

        <!-- Page Numbers -->
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a asp-action="Index" asp-route-page="@i"
               class="rounded @(i == Model.CurrentPage ? "active" : "")">@i</a>
        }

        <!-- Next Button -->
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)" class="rounded">&raquo;</a>
        }
    </div>
</div>
